{% extends 'public/login/login.html' %}
{% load static %}


{% block title %}Recuperar contraseña{% endblock %}

{% block body %}

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <span class="app-brand-logo demo">
              <img src="{% static 'assets/img/logotipo.png' %}" alt="Logo" style="width: 300px; height: auto;" />
            </span>
          </div>
          <div class="text-center">
            <h2>Restablecimiento de contraseña enviado</h2>
            <p>Hemos enviado un correo con instrucciones para restablecer tu contraseña, si la cuenta existe con el correo proporcionado.</p>
            <p>Si no recibes el correo, verifica que hayas ingresado la dirección correcta y revisa tu carpeta de spam.</p>
          </div>
          
          <div class="text-center">
            <a
              href="{% url 'login' %}"
              class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              volver
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
