{% extends 'public/login/login.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Recuperar contraseña{% endblock %}

{% block body %}

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <span class="app-brand-logo demo">
              <img src="{% static 'assets/img/logotipo.png' %}" alt="Logo" style="width: 300px; height: auto;" />
            </span>
          </div>

          <form
            id="formAuthentication"
            class="mb-3"
            method="POST">
            {% csrf_token %}
            {{form | crispy}}
            <button class="btn btn-primary w-100" type="Submit">
              Guardar
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
