<!DOCTYPE html>
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'public/includes/head.html' %}
  </head>
  <body>
    {% include 'public/includes/pre_loader.html' %}
    {% include 'public/includes/navbar.html' %}
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {% include 'public/includes/menu_sidebar.html' %}
        <div class="layout-page">
          <div class="content-wrapper">
            {% if user.is_authenticated %}
                <div class="d-flex justify-content-end mt-3">
                    <div class="welcome-message">
                        <i class="bi bi-person-circle me-2"></i>
                        <strong>{{ user.first_name }} {{ user.last_name }}!</strong>
                    </div>
                </div>
            {% endif %}
            <div class="container-xxl flex-grow-1 container-p-y">
              {% block body %}
              {% endblock %}
            </div>

            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    {% include 'public/includes/js.html' %}
  </body>
</html>
